h1:nth-last-child(20){
    background-color: green;
}
header span:nth-child(18) h1:nth-child(3){
    background-color: green;
}

h1:nth-last-child(15){
    background-color: green;
}

header div:nth-child(12) h1:nth-of-type(4){
    background-color: green;
}
header section:nth-child(17) div:nth-child(1) p:nth-of-type(1){
    background-color: green;
}
header section:nth-child(17)>h1:nth-child(3) {
    background-color: green;
}
  
h1:nth-child(19){
    background-color:green;
}
  
  
h1:nth-child(24){
    background-color: green;
}


h1:nth-child(16) {
    background-color: green;
  }