*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.images{
    margin-top: 45px;
    height: 500px;
    width: 1200px;
    display: block;
    border-radius: 10px;
    border: 1px solid white;
    object-fit: cover;
    animation-name: slider;
    animation-duration: 1000ms;
    animation-timing-function: ease-in;
}
