*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.images{
 
    height: 500px;
    width: 1200px;
    display: block;
    border-radius: 10px;
    border: 1px solid white;
    object-fit: cover;
    animation-name: slider;
    animation-duration: 1000ms;
    animation-timing-function: ease-in;
}

@keyframes slider{
 0%{
  opacity: 50%;
  transform: translateX(1500px);
  
 }
 
 100%{
  transform: translateX(0px);
   opacity: 100%;
 }
}