@media (max-width:992px) {
    .navbar-link nav ul {
        display: none;
    }

    .nav-btn ul li:nth-child(2) a {
        display: block;
    }
}

@media (max-width:768px) {
    .nav-btn ul li:nth-child(1) a {
        display: none;
    }

}